body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  /* border: 1px solid #999; */
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-end {
  background-color: #999;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square-endgame {
  background-color: #999;
}

.diagonal-top-left {
  background: 
       linear-gradient(to top right,
       #999 0%,
       #999 calc(50% - 2px),
       red 50%,
       #999 calc(50% + 2px),
       #999 100%)
}

.diagonal-top-right {
  background: 
       linear-gradient(to top left,
       #999 0%,
       #999 calc(50% - 2px),
       red 50%,
       #999 calc(50% + 2px),
       #999 100%)
}

.horizontal {
  background: 
       linear-gradient(to bottom,
       #999 0%,
       #999 calc(50% - 2px),
       red 50%,
       #999 calc(50% + 2px),
       #999 100%)
}

.vertical {
  background: 
       linear-gradient(to left,
       #999 0%,
       #999 calc(50% - 2px),
       red 50%,
       #999 calc(50% + 2px),
       #999 100%)
}
